h1 {
    text-align: center;
}

#easy-sell {
    color: red;
    text-align: center;
}

.welcome-links {
    text-align: center;
}

.welcome-posts {
    color:  rgb(92, 92, 186);
}

#register-here {
    color:  rgb(92, 92, 186);
}

#login-here {
    color:  rgb(92, 92, 186);
}

